img{
    opacity: 0.9;
    width: 250px;
    height: 125px;
    position: fixed;
    top: 435px;
    right: 10px;

    border-radius: 2em;
    background-color:rgb(39, 23, 77);

    z-index: 100;

}   
