<br><br><br>
<!-- <div class="frame">
    <div class="parrafo"> 
        <h1 align="center" style="color: white">¿Qué es la semana Linux?</h1>
        <br><br>
        <div class="container card"> 
            <p>
                La Semana Linux UD es un evento anual en el cuál se desarrollan actividades
                y conferencias que fomentan el uso y apropiación del software y la filosofía libre,
                tanto en el ámbito tecnológico como en la sociedad.
            </p>
            <br>
            <p>
                Cada año el evento cuenta con un tema principal que se aborda con la intención de
                brindar a los asistentes una perspectiva de conocimiento desde el punto de vista del
                software libre y sus aplicaciones en dicha área elegida, además de abordar el contexto
                actual del software libre en diversos aspectos tanto a nivel nacional como internacional.
            </p>
            <br>
            <p>
                En ésta ocasión, la temática escogida para la XVIII Edición de la Semana Linux UD es
                ciencia y Software Libre, donde conoceremos de que forma el software y la
                filosofía libre aportan en distintas disciplinas.
            </p>
            <br>
            <p>
                Es por esto que desde el equipo de trabajo del Grupo GNU/Linux UD (GLUD) queremos extender
                a todos ustedes una cálida invitación a participar con nosotros de este gran evento en su
                segunda edición digital. Esperamos que nos acompañen y podamos seguir compartiendo como
                comunidad libre con todos ustedes.
            </p>
            <br>
        </div>
    </div>
</div> -->

<h1 align="center">Línea de tiempo de la Semana Linux</h1>
<br><br>
<div class="container_slider">
    
    <ng-image-slider [images]="imageObject" #nav [infinite]="true" [autoSlide]="1"
        slideImage="3" [animationSpeed]="2">
    </ng-image-slider>
    <br><br>
</div>

