*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container9 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
