<div id="link" class="card" (click)="click()">
    <div class="imgBx">
        <img src="{{image}}" alt="">
    </div>
    
    <div class="content">
        <div class="precio">
            <h2>
                {{toCop(price)}}
            </h2>
        </div>
        <div class="info">
            <p>{{description}}</p>
        </div>
    </div>
</div>
