*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
  background: #100923;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 64px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

.programacion-barra{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.programacion-barra figure{
    margin: 0 20px 0 0;
}
.programacion-fotografia{
    height: 64px;
    width: auto;
}
/*.programacion-cientifico{
    
}
.programacion-fecha{

}*/

.img-programacion-cientifico{
  width: auto;
  display: block;
}
.programacion-barra .textos-programacion-cientifico {
  margin-top: 0em;
}
.textos-programacion-cientifico .programacion-cientifico,
.textos-programacion-cientifico .programacion-fecha{
  text-align: left;
}


.programacion-contenido,.programacion-cabecera{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.programacion-cabecera{
    text-align: left;
}
.programacion-hora{
    max-width: 10%;
}
.programacion-tema{
    max-width: 30%;
}
.programacion-descripcion{
    max-width: 30%;

}
.programacion-conferencista{
    max-width: 20%;    
}


/* Tabla */
/* Some basic wrapping and table styles */
* {
  box-sizing: border-box;
}
.table-wrapper {
  padding: 25px;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  /* border: 3px solid purple; */
}
table th,
table td {
  padding: 8px 10px;
  border-bottom: 1px solid #dbd2ab;
}
table th {
  max-width: 30%;
  width:30%;
  background-color: #dbd2ab;
  font-family: Font-title;
}

table th p{
  text-align: justify;
}

.table-web{
  display: block;
}
.table-mobile{
  display: none;  
}

/*.thead{*/
  /*max-width: 100%;*/
/*}*/

/*.table-reorder{*/
  /*max-width: 2000px;*/
  /*max-height: 100%;*/
/*}*/
/*responsive mobile*/
@media (max-width:768px){
  .table-web{
    display: none;
  }
  .table-mobile{
    display: block;
  }
  .contenedor{
    width: 130vw;
  }
  .table-reorder{
    max-width: 40px;
    max-heigth: 100px;
  }
  
  .th{
    max-width: inherit;
  } 


}

/*Textos*/

h1,h2,h3,h4,h5,h6,span,p{
  color: #dbd2ab;
}

/*Conferencista*/
.imgContainer {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
}

.speakerImg {
  position:absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  max-width: 150px;
}
